body {
  background-color: white;
  height: 100%;
}

#layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 96px;
}

.chat-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 96px;
  width: 25%;
  display: none;
}

#chat-text {
  flex: 1;
  height: calc(100% - 40px);
  overflow-y: scroll;
  padding: 8px 16px 0px 16px;
}

#chat-text > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#chat-text > ul li{
  display:inline-block;
  clear: both;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 8px;
}

.bubble > .user {
  font-weight: 100;
}

.bubble > .time {
  font-style: italic;
}

.bubble > p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.other{
  background: #eee;
  float: left;
  max-width: 80%;
}

.me{
  float: right;
  background: #0476D4;
  color: #fff;
  max-width: 80%;
}

.send-chat {
  display: flex;
  width: 100%;
}

.send-chat > input {
  flex: 1;
  height: 32px;
  margin-left: 8px;
  border-radius: 8px;
  padding: 0 8px;
}

.send-chat > button {
  border-radius: 8px;
  border: 0;
  width: 64px;
  margin: 0 16px;
}

.send-chat > button:hover {
  cursor: pointer;
  background-color: #0476D4;
  color: #fff;
}

#layout > div {
  width: 0;
  height: 0;
  opacity: 0;
  background-color: #000;
  display: inline-block;
  border-radius: 16px;
  transition-property: all;
  transition-duration: 0.2s;
}

#layout > div.ot-layout {
  opacity: 1;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: calc(100vh - 90px);
  bottom: 0;
  left: 0; 
  right: 0;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background-color:rgba(200, 200, 200, .4);
}

#message-notification {
  color: white;
  display: none;
  position: absolute;
  margin-left: 32px;
  margin-bottom: 32px;
  height: 24px;
  width: 24px;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  background-color: red;

}

.controls:hover {
  background-color: white;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  width: 64px;
  height: 64px;
  border: 1px solid green;
  border-radius: 32px;
}

.icon:hover {
  color: green;
  font-size: 20px;
}
